# Appwrite environment variables
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=

# Collection IDs
NEXT_PUBLIC_APPWRITE_COLLECTION_CALENDARS=
NEXT_PUBLIC_APPWRITE_COLLECTION_TASKS=
NEXT_PUBLIC_APPWRITE_COLLECTION_EVENTS=
NEXT_PUBLIC_APPWRITE_COLLECTION_EVENT_GUESTS=
NEXT_PUBLIC_APPWRITE_COLLECTION_FOCUS_SESSIONS=

# Storage bucket IDs
NEXT_PUBLIC_APPWRITE_BUCKET_TASK_ATTACHMENTS=
NEXT_PUBLIC_APPWRITE_BUCKET_EVENT_COVERS=
